<ion-header-bar align-title="center" class="bar-light">
  <div class="buttons">
    <button class="button button-assertive button-clear no-animation ion-android-more-vertical icon"
            ng-click="startApp()">
    </button>
    <button class="button button-assertive button-clear no-animation ion-android-search icon"
            ng-click="previous()">
    </button>
  </div>

  <div class="title">
    <select class="button-clear">
      <option>Blue</option>
      <option selected>Green</option>
      <option>Red</option>
    </select>
  </div>
  
  <div class="buttons">
    <button class="button button-assertive button-clear no-animation ion-android-add icon"
            ng-click="next()">
    </button>
    <button class="button button-assertive button-clear no-animation ion-android-menu icon"
            ng-click="startApp()">
    </button>
  </div>
</ion-header-bar>